<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>the things we say</title>
    <link rel="icon" type="image/x-icon" href="/images/w.ico" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main-container">
      <h1 aria-label="main title">the things we say</h1>
      <div class="form-container">
        <form
          aria-label="input form"
          method="post"
          action="/"
          onsubmit="return validate()"
        >
          <input
            type="text"
            placeholder="Username"
            id="username"
            name="username"
            maxlength="40"
            oninput="usernameInput()"
            aria-label="username input"
          />
          <textarea
            placeholder="say something.."
            spellcheck="false"
            name="message"
            id="message"
            rows="5"
            maxlength="280"
            oninput="messageInput()"
            aria-label="message input"
          ></textarea>
          <button type="submit">Post</button>
        </form>
      </div>
      <div class="posts">
        <h2 aria-label="previous posts">Previous Posts</h2>
        <ul aria-label="posts list">
          <% if (messages && messages.length) { %> <%
          messages.slice().reverse().forEach(function(message) { %>
          <li aria-label="post list item">
            <div class="message-header" aria-label="post header">
              <h3 aria-label="username"><%= message.username %></h3>
              <span class="message-date"
                ><p aria-label="post date">
                  <%= message.date.toLocaleDateString() %> (<%=
                  message.date.toLocaleTimeString('en-US', { hour12: false,hour:
                  '2-digit', minute: '2-digit' }) %>)
                </p></span
              >
            </div>
            <div class="message-body">
              <p aria-label="post text"><%= message.text %></p>
            </div>
          </li>
          <br />
          <hr />
          <% }) %> <% } else { %>
          <li>nothing here</li>
          <% } %>
        </ul>
      </div>
    </div>
    <%- include('footer.ejs') %>

    <script src="/javascripts/helper.js"></script>
  </body>
</html>
